.logoMenu {
        width: 45px;
        margin: 10px;
}
.logoMenu img {
    width: 100%;
}
.menuinicial li{
        display: inline-block;
        margin: 2px;
        text-align: center;
}
.menuinicial ul{
    width: 80%;
}