.lista-producto-Card{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid
}
.lista-producto {
    margin: 5px;
    padding: 5px;
    max-width: 1500px;
    max-height: 1500px;;
}
.lista-producto img {
    width:200px; 
    height:200px;
    padding: 10px;
}
.cantidad-producto{
    margin-bottom: 5px;
}
.cantidad-producto Button{
    background-color: rgb(235, 231, 231) ;
    margin: 5px;
    padding: 5px;
    max-height: 25px;
    width: 5%;
}